AI_hub/n8n_workflows/T018_RSS_Monitor.json
{
  "name": "T018_RSS_Monitor",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.youtube.com/feeds/videos.xml?channel_id=UCBtG00ljZ8R_DBQCTR4C00A"
      },
      "id": "e0d046c0-2646-4c48-a006-25f0a0c4f877",
      "name": "RSS Trigger",
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "command": "={{'python D:\\\\AI\\\\Global_Define\\\\youtube_pobbagi.py --api-key ' + $env.YOUTUBE_API_KEY + ' --video-id ' + $json.id.replace('yt:video:', '')}}"
      },
      "id": "f5127161-0f79-42b7-a3f1-d00d41936e76",
      "name": "Execute YouTube Pobbagi",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse($input.first().json.stdout);"
      },
      "id": "f5127161-0f79-42b7-a3f1-d00d41936e77",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_FIREBASE_PROJECT.firebaseio.com/videos.json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{$json.video_id}}"
            },
            {
              "name": "title",
              "value": "={{$json.title}}"
            },
            {
              "name": "channel",
              "value": "={{$json.channel}}"
            },
            {
              "name": "transcript",
              "value": "={{$json.transcript}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f5127161-0f79-42b7-a3f1-d00d41936e78",
      "name": "HTTP to Firebase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        850,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Trigger": {
      "main": [
        [
          {
            "node": "Execute YouTube Pobbagi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute YouTube Pobbagi": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "HTTP to Firebase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "65fc12d5-455b-4835-86f7-b8969a53fa4c",
  "id": "t018_rss_monitor",
  "meta": {
    "instanceId": "local"
  },
  "tags": []
}
